<div class="header1">
  <h1>International Travels</h1>
</div>
<clr-accordion>
  <clr-accordion-panel [clrAccordionPanelOpen]="true">
    <clr-accordion-content>
  <div class="clr-row" style="margin-bottom: 1rem;">
    <div class="clr-col-2"><strong>Date of Submission:</strong></div>
    <div class="clr-col-2">{{ personalData?.today }}</div>

    <div class="clr-col-2"><strong>Expense Statement of:</strong></div>
    <div class="clr-col-2">{{ personalData?.username }}</div>

    <div class="clr-col-2"><strong>Employee Code:</strong></div>
    <div class="clr-col-2">{{ personalData?.employeeCode }}</div>
  </div>

  <div class="clr-row" style="margin-bottom: 1rem;">
    <div class="clr-col-2"><strong>Purpose &amp; Place:</strong></div>
    <div class="clr-col-2">{{ personalData?.purposePlace }}</div>

    <div class="clr-col-2"><strong>Company &amp; Plant:</strong></div>
    <div class="clr-col-2">{{ personalData?.companyPlant }}</div>

    <div class="clr-col-2"><strong>Cost Center:</strong></div>
    <div class="clr-col-2">{{ personalData?.costCenter }}</div>
  </div>

  <div class="clr-row" >
    <div class="clr-col-2"><strong>Vendor Code:</strong></div>
    <div class="clr-col-2">{{ personalData?.vendorCode }}</div>

    <!-- Fill remaining space -->
    <div class="clr-col-2"></div>
    <div class="clr-col-2"></div>
    <div class="clr-col-2"></div>
    <div class="clr-col-2"></div>
  </div>
</clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>



<button class="btn btn-primary" (click)="openmodel()"> Fill the International Claim form </button>

<clr-modal [(clrModalOpen)]="formopen" [clrModalSize]="'md'">
  <div class="modal-body">
    <div class="modal-title">
      <h1>International Claim Form</h1>
    </div>
    <form clrForm #epenseForm="ngForm" class="expense-form">

      <clr-input-container>
        <label class="clr-col-12 clr-col-md-4">Date</label>
        <input class="clr-col-12 clr-col-md-8" clrInput type="date" [(ngModel)]="formData.date" name="date" required
          [min]="startDate" [attr.max]="showMax ? endDate : null" (focus)="showMax = true" />
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-12 clr-col-md-4">Supporting No</label>
        <input class="clr-col-12 clr-col-md-8" clrInput type="text" [(ngModel)]="formData.supportingNo"
          name="supportingNo" required />
      </clr-input-container>



      <clr-select-container>
        <label class="clr-col-12 clr-col-md-4">Particulars</label>
        <select class="clr-col-12 clr-col-md-8" clrSelect [(ngModel)]="formData.particulars" name="particulars"
          required>
          <option>select</option>
          <option value="Hotel">Hotel</option>
          <option value="Transport">Transport</option>
          <option value="Food">Food</option>
          
          <option value="Communication">Communication</option>
          <option value="Visa Process Fees">Visa Process Fees</option>
          <option value="Others">Others</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label class="clr-col-12 clr-col-md-4">Payment Mode</label>
        <select class="clr-col-12 clr-col-md-8" clrSelect [(ngModel)]="formData.paymentMode" name="paymentMode"
          required>
          <option value="Cash">Cash</option> 
          <option value="Card">Card</option>
        </select>
      </clr-select-container>




      <clr-input-container class="amount1">
        <label class="clr-col-12 clr-col-md-4"> Amount</label>
        <input class="clr-col-12 clr-col-md-8" clrInput type="number" [(ngModel)]="formData.amount" name="amount"
          required />
      </clr-input-container>
      <clr-textarea-container class="remarks-box">
        <label class="clr-col-12 clr-col-md-4">Remarks</label>
        <textarea class="clr-col-12 clr-col-md-8" clrTextarea [(ngModel)]="formData.remarks" name="remarks"></textarea>
      </clr-textarea-container>

      <div class="amount12">

        <label class="clr-col-12 clr-col-md-4" class="Screenshot">Screenshot</label>
        <input class="clr-col-12 clr-col-md-8" type="file" (change)="onFileChange($event)" accept="image/*" />

      </div>





      <div class="actions">
        <button class="btn btn-info" [disabled]="!epenseForm.valid" type="button" (click)="addEntry(epenseForm)">
          {{!isEdit? 'Add': 'Update'}}</button>
        <button class="btn outline-danger" type="reset">Reset</button>
      </div>
    </form>



  </div>

</clr-modal>
<div class="datagriid">
  <clr-datagrid *ngIf="entries.length > 0">
    <clr-dg-column>Sno</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Supporting No</clr-dg-column>
    <clr-dg-column>Particulars</clr-dg-column>
    <clr-dg-column>Payment Mode</clr-dg-column>
    <clr-dg-column>Amount</clr-dg-column>
    <clr-dg-column>Remarks</clr-dg-column>

    <clr-dg-column>Screenshot</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *ngFor="let entry of entries let i = index">
      <clr-dg-cell>{{ i+1}}</clr-dg-cell>
      <clr-dg-cell>{{ entry.date }}</clr-dg-cell>
      <clr-dg-cell>{{ entry.supportingNo }}</clr-dg-cell>
      <clr-dg-cell>{{ entry.particulars }}</clr-dg-cell>
      <clr-dg-cell>{{ entry.paymentMode }}</clr-dg-cell>
      <clr-dg-cell>{{ entry.amount }}</clr-dg-cell>
      <clr-dg-cell>{{ entry.remarks }}</clr-dg-cell>
      <clr-dg-cell>
        <img *ngIf="entry.preview" [src]="entry.preview" alt="Preview" class="thumb" />
      </clr-dg-cell>


      <clr-dg-cell>
        <button *ngIf="entry.particulars!='Allowance'" class="crud-btn remove" (click)="removeentry(i)"> <cds-icon
            shape="trash"></cds-icon></button>
        <button *ngIf="entry.particulars!='Allowance'" class="crud-btn edit" (click)="Editentry(entry, i)"><cds-icon
            shape="pencil"></cds-icon></button>
      </clr-dg-cell>


    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">
          Items per page
        </clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
        {{ pagination.totalItems }} items
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<div class="preview1">
  <button class="btn btn-info" (click)="backbtn()">back to </button>
  <button class="btn btn-info" (click)="gotoreview()"> review </button>
</div>