*{
    margin: 0%;
    padding: 0
}
.personaldetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  padding: 10px;
  justify-content: space-between;
  font-size: 14px;
}
.personaldetails strong{
 
}
.personaldata p {
  margin: 4px 0;
  word-wrap: break-word;
}

.first {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #f0f4f8, #d9e2ec);
  margin: 0;
  padding: 20px;
  color: #333;
}
.datagrid-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
 
}

.datagrid-box {
  flex: 1;
  min-width: 400px;
}
