<h1>Domestic </h1>

<div class="first">
  <clr-select-container>
    <label>Select Currency type</label>
    <select clrSelect [(ngModel)]="selectedCurrency"  name="currency">
      <option value="INR">INR</option>
     
    </select>
  </clr-select-container>


  <clr-input-container>
    <label>Travel Start Date & Time</label>
    <input clrInput type="datetime-local" [(ngModel)]="travelStart" name="travelStart" [max]="maxDate" required />
  </clr-input-container>

  <clr-input-container>
    <label>Travel End Date & Time</label>
    <input clrInput type="datetime-local" [(ngModel)]="travelEnd" name="travelEnd"  [min]="travelStart"
      [max]="maxDate" [disabled]="!travelStart" required/>
  </clr-input-container>



  <div class="numberdays">
    <clr-input-container>
      <label>Number of Days</label>
      <input clrInput type="number" [value]="calculateDays(travelStart, travelEnd)" readonly />
    </clr-input-container>
    
  </div>
  

</div>
<button (click)="openCurrencyModal()" class="btn btn-primary" id="button1" [disabled]="totaldays ==0">add cash </button>
<!-- Clarity Modal -->
<clr-modal [(clrModalOpen)]="currencyModalOpen">
  <h3 class="modal-title">{{ editIndex !== null ? 'Edit Entry' : 'Add Cash or Card Entry' }}</h3>
  <div class="modal-body">
    <form clrForm #entryForm="ngForm">
      <clr-input-container>
        <label class="clr-col-12 clr-col-md-4" >Loaded Date</label>
       <input  class="clr-col-12 clr-col-md-8" clrInput type="date" [(ngModel)]="entry.loadedDate" name="loadedDate" [max]="travelEndDateOnly" required />
      </clr-input-container>
      
      <clr-select-container>

        
        <label  class="clr-col-12 clr-col-md-4" >Type</label>
        <select class="clr-col-12 clr-col-md-8" clrSelect [(ngModel)]="entry.type" name="type" required>
          <option value="Card">Card</option>
          <option value="Cash">Cash</option>
        </select>
      </clr-select-container>
<clr-input-container>
  <label class="clr-col-12 clr-col-md-4">
    INR Rate
    <!-- <span class="badge badge-info ml-2">for 1 {{selectedCurrency}}</span> -->
  </label>

<input 
  class="clr-col-12 clr-col-md-8"
  clrInput
  type="number"
  [value]="1"
  readonly
  name="inrRate"
/>
</clr-input-container>
      <clr-input-container>
        <label class="clr-col-12 clr-col-md-4" >Total Loaded</label>
        <input class="clr-col-12 clr-col-md-8"clrInput type="number" [(ngModel)]="entry.totalLoaded" name="totalLoaded" required />
      </clr-input-container>

      
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!entryForm.valid" (click)="saveEntry(entryForm)">Save</button>
    <button class="btn btn-outline" (click)="currencyModalOpen = false">Cancel</button>
  </div>
</clr-modal>
<div class="datagrid-row">
  <!-- Card Table -->
  <div class="datagrid-box">
    <h4>Card Loaded Amount Details</h4>
    <clr-datagrid *ngIf="cardEntries">
      <clr-dg-column>Currency</clr-dg-column>
      <clr-dg-column>INR Rate</clr-dg-column>
      <clr-dg-column>Total Loaded</clr-dg-column>
      <clr-dg-column>Loaded Date</clr-dg-column>
      <clr-dg-column>Total in INR</clr-dg-column>
      <clr-dg-column>Actions</clr-dg-column>

      <clr-dg-row *ngFor="let item of cardEntries ; let i = index">
        <clr-dg-cell>{{ item.currerncy }}</clr-dg-cell>
        <clr-dg-cell>{{ item.inrRate }}</clr-dg-cell>
        <clr-dg-cell>{{ item.totalLoaded }}</clr-dg-cell>
        <clr-dg-cell>{{ item.loadedDate }}</clr-dg-cell>
        <clr-dg-cell>{{ item.totalInr }}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-sm btn-link" (click)="editEntry(i, 'Card')"><cds-icon shape="pencil"></cds-icon></button>
          <button class="btn btn-sm btn-link btn-outline-danger" (click)="deleteEntry(i, 'Card')">   <cds-icon shape="trash"></cds-icon></button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>

  <!-- Cash Table -->
  <div class="datagrid-box">
    <h4>Cash Amount Details</h4>
    <clr-datagrid *ngIf="cashEntries">
      <clr-dg-column>Currency</clr-dg-column>
      <clr-dg-column>INR Rate</clr-dg-column>
      <clr-dg-column>Total Loaded</clr-dg-column>
      <clr-dg-column>Loaded Date</clr-dg-column>
      <clr-dg-column>Total in INR</clr-dg-column>
      <clr-dg-column>Actions</clr-dg-column>

      <clr-dg-row *ngFor="let item of cashEntries ; let i = index">
        <clr-dg-cell>{{ item.currency }}</clr-dg-cell>
        <clr-dg-cell>{{ item.inrRate }} </clr-dg-cell>
        <clr-dg-cell>{{ item.totalLoaded }}</clr-dg-cell>
        <clr-dg-cell>{{ item.loadedDate }}</clr-dg-cell>
        <clr-dg-cell>{{ item.totalInr }}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-sm btn-link" (click)="editEntry(i, 'Cash')">Edit</button>
          <button class="btn btn-sm btn-link btn-outline-danger" (click)="deleteEntry(i, 'Cash')">Delete</button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
 
 
<div class="preview">
  <button class="btn btn-info" (click)="backbtn()">back to </button>
  <button class="btn btn-info"  (click)="gotoreview()"  > go cto claim page </button>
</div>