*{
    margin: 0%;
    padding: 0
}
.personaldetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  padding: 10px;
  
  font-size: 14px;
}

.personaldata p {
  margin: 4px 0;
  word-wrap: break-word;
}

clr-dg-cell {
  white-space: normal !important;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 300px;
  max-height: 100px; /* Optional: limit width to avoid overly wide columns */
}
.clr-row1{
  float: right;
}
.summary-box {
  width: 300px;
 
  padding: 16px;
 
  

  overflow-y: auto;
}

.green-text {
  color: green;
  font-weight: bold;
}

.highlight td {
  font-weight: bold;
  background-color: #f5f5f5;
}
.button-group{
display: flex;
justify-content:space-around;
align-items: center;
}
/* .navbar {
  display: flex;
  justify-content: space-between;
 
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
} */



.brand-logo {
  height: 40px;
  margin-right: 30px;
  width: 250px;

}


.brand-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  
}
