*{
    margin: 0%;
    padding: 0
}

.brand-logo {
  height: 40px;
  margin-right: 30px;
  width: 250px;

}


.brand-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 180px;
  
}
.personaldetails {
  max-width: 500px;
  padding: 10px;
  font-size: 14px;
}

.personaldata {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 10px;
  word-wrap: break-word;
}

.data-row strong {
  font-weight: bold;
}


.button-group{
display: flex;
justify-content:space-around;
align-items: center;
}

.clr-row1{
  float: right;
}
.summary-box {
  width: 300px;
 
  padding: 16px;
 
  

  overflow-y: auto;
}

.green-text {
  color: green;
  font-weight: bold;
}

.highlight td {
  font-weight: bold;
  background-color: #f5f5f5;
}
.button-group{
display: flex;
justify-content:space-around;
align-items: center;
}

@media print {
  .button-group {
    display: none !important;
  }
  .brand-title{
  flex: auto;
  margin-left: 50px;
}
}

.personalDetails{
  margin: 10px 15px 20px 20px;
  padding: 10px;}
